


mat-icon { 
  cursor: pointer; 
}

.name {
  width: 90%;
}

mat-form-field {
  padding: 15px 15px 0 15px;
}

table {
  padding: 5px;
}

.no-data {
  padding: 20px;
}

.btn-create-heroe {
  margin-left: 20px;
  margin-right: 20px;
}
